.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0.6em;
    width: 100%;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.list h3 {
    margin-left: 1.5em;
    color: #fff;
}

.item {
    margin-right: 2em;
}

.item a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}