.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8FF;
}

.wrapper {
    width: 25%;
    padding: 20px;
    background-color: #DCDCDC;
}

.container h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}

.container button {
    margin-left: 6.8em;
    font-size: 11px;
    width: 45%;
    border: none;
    padding: 12px 18px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.container a {
    color: blue
}

.container p {
    font-size: 10px;
    margin-left: auto;
    margin-left: 7em;
    margin-top: 0.5em;
}